.daov2 {
  height: 45rem;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(12px);
  padding: 24px;

  h4 {
    margin: 0 0 8px 0;
  }

  .ant-typography-secondary {
    display: block;
    margin-bottom: 0;
  }

  .ant-input-password {
    font-family: monospace;
  }

  .ant-btn {
    min-width: 80px;
  }
}